/* Backgrounds
----------------------------------------------*/
/*
header {
  background-image: url('../images/bc_train.jpeg');
  background-size: cover;
  color: #fff;
  padding-bottom: 10em;
  opacity:0.9;
}
*/

body {
	text-align: center;
	margin-top: 3rem;
}

.bg {
	text-align: center;
	margin-bottom: 10rem;
}

.bg h4 {
	padding: 2rem;
}

.bg i {
	color: red;
}

.bg i:hover {
	color: #ee6d66;
}

.bg span {
  color: #3498db;
  font-size: 3.5em;
}

.bg span:hover {
  color: #c0392b;
  transition: color ease 1s;
}
/* Text
----------------------------------------------*/
.center_text {
	padding-top: 6rem;
}

.projects {
	background-color: #F8F8F8;
	height: 40%;
	width:100%;
	position: absolute;
}

.projects i {
	color: #e83a30;
}

