/* General Styles
----------------------------------------------*/

body {
	text-align: center;
	margin-top: 3rem;
}

/* Header styles
----------------------------------------------*/
.top {
	text-align: center;
	margin-bottom: 10rem;
}

.center_text {
	padding-top: 6rem;
	font-family: Montserrat;
}

.top h4 {
	padding-bottom: 2rem;
}

.top i {
	color: red;
}

.top i:hover {
	color: #ee6d66;
}

.top span {
  color: #3498db;
  font-size: 3.5em;
  padding-right: .75rem;
}

.top span:hover {
  color: #2c3e50;
  transition: color ease 1s;
}

/* Media queries style
----------------------------------------------*/
/* Skeleton handles most changes for screen size.
 However custom css must be resized  */

/* mobile only style */
 @media(max-width: 500px){
	 .projects {
		height: 100%;
	}
 }

/* tablet and split screen style */
  @media(min-width: 501px){
	 .projects {
		height: 50%;
	}
 }

/* desktop and laptop style  */
 @media(min-width: 1024px){
 	.projects {
 		height: 40%;
 	}
 }

