.palette canvas {
  border: 1px solid black;
}

.palette i{
  font-size: 2em;
  cursor: pointer;
}

.palette a{
  color: black;
}

.palette span{
  margin-left: 10em;
}
canvas:active {
  cursor: default;
}

